.modal {
  display: none;
}
.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 0, 0, 0, .40 )
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 25px;
  background: #303245;
  border-radius: 20px;
  transform: translate(-50%, -50%)
}

table{
    width: 100%;
}
tbody{
    text-align: center;
}
thead{
    height: 70px;
}
tr:nth-child(even){
    background-color: #303245;
}
tr td:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
tr td:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
th{
    background-color: #303245;
}
tr th:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
tr th:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.red{
    background-color: rgba(255, 0, 0, .7);
}
.grey{
    background-color: grey;
}
.orange{
    background-color: 	rgba(255, 165, 0, .7);
}
.green{
    background-color: green;
}