<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'add_quizz' %}">Ajouter un Quizz</a>
            <a href="{% url 'list_quizz' %}">Liste des Quizz</a>
            <a href="{% url 'import_moodle_quizz' %}">Importer XML Moodle</a>
        </nav>
    </header>
    <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>