{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/list_quizz.css' %}">

<h1 class="center_x">Liste des quizz publics</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for quizz in object_list %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.title }}</td>
                <td>{{ quizz.description }}</td>
                <td>
                    <button onclick="location.href='{% url 'visual_quizz' quizz.id %}'" id="id_visual" class="grey">Visualiser</button>
                    <button onclick="location.href='{% url 'edit_quizz' quizz.id %}'" id="id_edit" class="orange">Editer</button>
                    <button onclick="displayPopup({{quizz.id}})" id="id_delete_{{quizz.id}}" class="red">Supprimer</button>
                    <button onclick="location.href='{% url 'download' quizz.id %}'" id="id_export" class="green">Exporter</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal" id="modal">
    <div class="modal-back"></div>
    <div class="modal-container center_x">
        <h3>Voulez-vous supprimez ce quizz ?</h3>
        <button id="id_delete" class="red">Oui</button>
        <button onclick="closePopup()" class="grey">Non</button>
    </div>
</div>


<script>
function displayPopup(quizz_id) {
    const button = document.getElementById("id_delete");
    button.setAttribute("onclick", "location.href='/delete/"+quizz_id+"'");
    document.getElementById('modal').style.display = 'block'
}
function closePopup() {
    document.getElementById('modal').style.display = 'none'
}
</script>


{% endblock %}
